#about {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial;
}
html {
    background-color: white;
}

header{
    background-color: red;
    border: 2px black;
    border-style: solid;
    text-align: center;
    font-family: Arial;
}

section{
    background-color: #EEE;
    border: 2px black;
    border-style: solid;
}

#image{
    float: right;
    border: 2px solid;
    border-color: black;
}

body{
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    width: auto;
    height: auto;

}
#My-list{
    float: left;
    text-align: left;
    background-color: yellow;
    border: 2px solid;
    border-color: black;
    width : 300px;
    height: 150px;
    font-family: Arial;
}

#footer{
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: blue;
    font-family: Arial;
}

#content{
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    background-color: white;
    border: 2px solid;
    border-color: black;
    font-family: Arial;
}

#container {
    height: 150px;
    width: 410px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#div1 {
    text-align: center;
}

section{
    margin-left: auto;
    margin-right: auto;
}

hr{
    background-color :yellow;
}

head{
    border: 2px black;
    border-style: solid;
}

#footer{
    color: white;
    border: 2px solid;
    border-color: black;
    font-family: Arial;
    margin-top: 20px;
}

#contact-list{
    margin-left: 20px;
}

#contact-person{
    margin-left: 20px;
}

#copyright{
    margin-left: 20px;
}

#myInstagram{
    /* text-decoration: ; */
    color: white;
}